{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}

<h1>Create New User</h1>
<form action="/users/new" method="POST">
    <label for="first">First Name</label> <br>
    <input type="text" name="first" id="first" placeholder="First Name" required> <br>
    <label for="last">Last Name</label> <br>
    <input type="text" name="last" id="last" placeholder="Last Name" required> <br>
    <label for="image">URL for PFP</label> <br>
    <input type="text" name="image" id="image" placeholder="URL for PFP"> <br>
    <button type="submit" class="btn btn-success">Add User</button>
</form>
{% endblock %}