/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-top: 2px;
  margin-left: 2.65em;
  display: block;
  color: #649d4f;
}

.story-user {
  margin-top: 2px;
  margin-left: 2.65em;
  display: block;
  color: #ffb53e;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}